/* search.css */
.inputButtonStyle {

  display: flex;
  align-items: center;
}

.inputButtonStyle input {

  max-width: 80%;
  height: 50px;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  outline: none;
}

.inputButtonStyle button {
  width: 100px;
  max-width: 100%;
  background: green;
  color: white;
  border-radius: 50px;
  border: none;

  font-weight: 600;
  outline: none;

  height: 50px;
  margin-left: 10px;
}